<!DOCTYPE html>
<html>
  <head>
    <title>Furima47728</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= include_gon %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://js.pay.jp/v2/"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
